body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color:rgb(13, 13, 13);
    width: 500px;
    padding-left:400px;
    
}


.calculator {
    background-color: black;
    border: 10px solid #1c19ad;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    border-radius: 15px;
    width: 200px
    height: 400px;
    
}

#display {
    width: 100%;
    height: 60px;
    font-size: 25px;
    margin-bottom: 10px;
    background-color: ;
}



.buttons button:last-child {
    width: 100px;
    
}


.button-row {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 60px;
    font-size: 184px;
    background-color: transparent;
    color: #333;
    
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgb(19, 24, 19));
    font-weight:weight;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 5px;
    
}

.buttons button {
    width:5px;
    height: 50px ;
    font-size: 20px;
    margin: 50px;
    background-color: rgb(230, 116, 17);
    color:aqua;
    border-radius: 19px;
    border: 10px solid #1c19ad;
}
.button{
    background-color: rgb(230, 116, 17);
    color:aqua;
}

